extends layout

block content
    script(src="/javascripts/table.js")
    h1 Hello #{user}
    p(id="table")
    p(id="alert")
    div(id="formDisplay")
        form(id='form' action="")
            label(for="title") Title
            input(type='text' id='title' value="" required)
            br
            label(for="author") Author
            input(type='text' id='author' value="" required)
            br
            label(for='genre') Genre
            input(type='text' id='genre' value="" required)
            br
            button(id='button1') Save  
            button(id="cancelEditButton") Cancel
            button(id="deleteEntryButton") Delete Entry
    div    
        button(id="editEntryButton") Edit Entry
        button(id="addNewEntry") New Entry
